 {% load static %}
  <div class="flex flex-row container mx-auto colorMain">
    <div class="mx-auto my-auto"><a href="{% url 'catalog' %}" class="mx-auto my-auto text-5 md:text-2xl font-mono">Каталог</a></div>
    <div class="mx-auto my-auto"><a href="{% url 'reports' %}" class="mx-auto my-auto text-5 md:text-2xl font-mono">Отчеты</a></div>
    <div class="mx-auto my-auto"><a href="{% url 'index' %}" class="my-auto text-xl md:text-6xl relative md:text-3xl md:bottom-2 font-mono md:pr-54">CybaShop</a></div>
    {% if request.user.is_authenticated %}
    <div class="mx-auto my-auto"><a href="{% url 'profile' %}" class="my-auto text-5 md:text-2xl relative font-mono">Профиль</a></div>
    <div class="mx-auto my-auto"><a href="{% url 'profile' %}" ><img class="mx-auto my-auto w-16 h-16" src="{% static 'IconeLogin.png' %}"></a></div>
    {% else %}
    <div class="mx-auto my-auto"><a href="{% url 'login' %}" class="my-auto text-5 md:text-2xl relative font-mono">Профиль</a></div>
    <div class="mx-auto my-auto"><a href="{% url 'login' %}" ><img class="mx-auto my-auto w-16 h-16" src="{% static 'Icone-usuario-Png 1.png' %}"></a></div>
    {% endif %}
  </div>
    <div class="blackColor my-4 rounded-lg mx-auto h-16 w-6/12">
      <input type="text" id="search-room" class="form-control blackColor w-full h-full text-white rounded-lg" placeholder="Поиск продуктов..." name="q"
      hx-get="{% url 'search' %}"
      hx-trigger="keyup changed delay:150ms"
      hx-target="#search-results"
      >
    </div>

  <div id="search-results" class="mx-auto w-6/12 relative bottom-4 bg-green-500 rounded-lg">{% include 'task_list.html' %} </div>