<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  <title></title>
</head>
<body class="bg-gradient-to-r from-green-600 to-green-400">
  {% include 'header.html' %}
  <h1 class="relative ml-4 my-4 w-4 h-4 text-xl md:text-3xl">Каталог</h1>
<div class="flex">  
  <div class="flex flex-col container ml-4 w-4/12 h-[44rem] justify-between content-center">
    {% for cat in category %}
    <a href="{% url 'category_page' cat.id %}"><div class="mb-1 w-full colorMain rounded-lg h-14 drop-shadow-lg shadow-lg"> <p class="text-sm line-clamp-2 md:text-xl text-center font-mono mt-4 antialiased lg:text-3xl">{{ cat.name }}</p></div></a>
    {% endfor %}
  </div>

  <div class="w-7/12 h-[44rem] relative ml-8 grid grid-cols-2 gap-4">
    {% for goods in good %}
    <a href="{% url 'basket_add' goods.id %}" class="h-full w-full block">
      <div class="div1 cellColor rounded-lg drop-shadow-lg mb-2 flex flex-col content-center h-full w-full block">
        <img class="max-w-[6rem]" src="{{ goods.image.url }}">
        <h1 class="object-contain">
          {{ goods.price }} р.
        </h1>
        <p class="object-contain line-clamp-2 text-sm lg:text-xl">
          {{ goods.name }}
        </p>
      </div>
    </a>
    {% endfor %}

  </div>
</body>
</html>