.colorMain {
	background-color: #2ED81F;
}

.cellColor {
	background-color: #D9D9D9;
}

.blackColor {
	background-color: #000000;
}

form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

label, input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

.gridcards {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 15px;
grid-row-gap: 15px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }